<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Show</title>
</head>
<body>
<p th:text="${book.getTitle() + ', ' + book.getNameAuthor() + ', ' + book.getYearRealise()}">VALUE</p>

<div th:if="${person}">
  <span>Книга сейчас у: </span> <span th:text="${person.getName()}">Person Name</span>

  <form th:method="PATCH" th:action="@{/books/{id}/year(id=${book.getId()})}">
    <input type="submit" value="Освободить книгу"/>
  </form>
</div>

<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
  <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
  <input type="submit" value="Delete"/>
</form>

<hr/>

<div th:if="${people}">
  <span>Эта книга свободна. Кому назначить ее?</span>
  <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
    <label for="person">Выберите человека</label>
    <select th:object="${person}" th:field="*{id}" id="person">
      <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getName()}">
      </option>
    </select>
    <input type="submit" value="Назначить книгу"/>
  </form>
</div>



</body>
</html>